
<p-table [tableStyle]="{ 'min-width': '50rem' }" [value]="marketOrders">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>ItemGroupTypeId</th>
      <th>Amount</th>
      <th>UnitPriceSilver</th>
      <th>Expires</th>
      <th>LocationId</th>
    </tr>
  </ng-template>
  <ng-template let-marketOrder pTemplate="body">
    <tr>
      <th scope="row">{{ marketOrder.Id }}</th>
      <td>
        <img [alt]="marketOrder.ItemGroupTypeId" [src]="'https://render.albiononline.com/v1/item/' + marketOrder.ItemTypeId"
             class="img-thumbnail" width="84" height="84">
      </td>
      <td>{{ marketOrder.Amount }}</td>
      <td>{{ marketOrder.UnitPriceSilver }}</td>
      <td>{{ marketOrder.Expires }}</td>
      <td>{{ marketOrder.LocationId }}</td>
    </tr>
  </ng-template>
</p-table>
