<div class="flex flex-col justify-center items-center text-white">

  <p-table *ngIf="pricesList.length === 0" [value]="this.resourceNameLists[selectedResources]">
    <ng-template pTemplate="header">
      <tr>
        <th>Tier</th>
        <th>Image</th>
        <th>Name</th>
        <th>Average</th>
      </tr>
    </ng-template>
    <ng-template let-i="rowIndex" let-item pTemplate="body">
      <tr>
        <th
          [ngClass]="{'tier1': i === 0,'tier2': i === 1,'tier3': i === 2,'tier4': i === 3,'tier5': i === 4, 'tier6': i === 5, 'tier7': i === 6, 'tier8': i === 7}"
          class="text-white" scope="row">{{ i + 1 }}
        </th>
        <td>
          <img *ngIf="selectedItemLevel !== '0'" [alt]="item"
               [ngSrc]="'https://render.albiononline.com/v1/item/T' + (i + 1) + '_' + selectedResources.toUpperCase() + '_LEVEL' + selectedItemLevel + '@' + selectedItemLevel "
               class="img-thumbnail" height="68" width="68">

          <img *ngIf="selectedItemLevel === '0'" [alt]="item"
               [ngSrc]="'https://render.albiononline.com/v1/item/T' + (i + 1) + '_' + selectedResources.toUpperCase()"
               class="img-thumbnail" height="68" width="68">
        </td>
        <td>{{ item }}</td>
        <td>
          <div class="grid justify-items-center grid-cols-3 gap-1">
            <p-skeleton width="4rem"></p-skeleton>
            <p-skeleton width="4rem"></p-skeleton>
            <p-skeleton width="4rem"></p-skeleton>
            <p-skeleton width="4rem"></p-skeleton>
            <p-skeleton width="4rem"></p-skeleton>
            <p-skeleton width="4rem"></p-skeleton>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>


  <div>
    <p-table *ngIf="pricesList.length > 0" [value]="this.resourceNameLists[selectedResources]">
      <ng-template pTemplate="header">
        <tr class="hover:bg-sky-700">
          <th>Tier</th>
          <th>Image</th>
          <th>Name</th>
          <th>Average</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" let-item pTemplate="body">
        <tr class="hover:bg-gray-100">
          <th
            [ngClass]="{'tier1': i === 0,'tier2': i === 1,'tier3': i === 2,'tier4': i === 3,'tier5': i === 4, 'tier6': i === 5, 'tier7': i === 6, 'tier8': i === 7}"
            class="text-white" scope="row">{{ i + 1 }}
          </th>
          <td>
            <img *ngIf="selectedItemLevel !== '0'" [alt]="item"
                 [ngSrc]="'https://render.albiononline.com/v1/item/T' + (i + 1) + '_' + selectedResources.toUpperCase() + '_LEVEL' + selectedItemLevel + '@' + selectedItemLevel "
                 class="img-thumbnail" height="68" width="68">

            <img *ngIf="selectedItemLevel === '0'" [alt]="item"
                 [ngSrc]="'https://render.albiononline.com/v1/item/T' + (i + 1) + '_' + selectedResources.toUpperCase()"
                 class="img-thumbnail" height="68" width="68">

            <!--
            <img *ngIf="price.avg === '0'" [alt]="item"
                 [ngSrc]="'https://render.albiononline.com/v1/item/T' + (i + 1) + '_' + selectedResources.toUpperCase()"
                 class="img-thumbnail" height="68" width="68">
                 -->

          </td>
          <td>{{ item }}</td>
          <td>
            <div class="grid justify-items-center grid-cols-3 gap-1">
              <ng-container *ngFor="let price of this.pricesList[i + 1]">
                <p-tag *ngIf="price.city === 'Lymhurst'" [pTooltip]="tooltipCity"
                       [style]="{'background': '#535E10'}">
                  {{ price.avg.toFixed(2) }}
                </p-tag>
                <p-tag *ngIf="price.city === 'Fort Sterling' " [pTooltip]="tooltipCity"
                       [style]="{'background': '#E7DCCF'}">
                  <p class="text-black">{{ price.avg.toFixed(2) }}</p>
                </p-tag>
                <p-tag *ngIf="price.city === 'Bridgewatch'" [pTooltip]="tooltipCity"
                       [style]="{'background': '#DD6A24'}">
                  {{ price.avg.toFixed(2) }}
                </p-tag>
                <p-tag *ngIf="price.city === 'Martlock'" [pTooltip]="tooltipCity"
                       [style]="{'background': '#5B7490'}">
                  {{ price.avg.toFixed(2) }}
                </p-tag>
                <p-tag *ngIf="price.city === 'Thetford'" [pTooltip]="tooltipCity"
                       [style]="{'background': '#5F315F'}">
                  {{ price.avg.toFixed(2) }}
                </p-tag>

                <ng-template #tooltipCity>
                  <div class="flex flex-col">
                    <div class="flex flex-row">
                      <img class="mr-2" height="29"
                           ngSrc="assets/Character_Flag_{{ price.city.split(' ').join('_') }}.png" width="15"/>
                      <p>{{ price.cityLong }} </p>
                    </div>
                    <p> Nombre : {{ price.totalWeight }} </p>
                    <p> Min price : {{ price.sell_price_min }} </p>
                    <p> Max price : {{ price.sell_price_max }} </p>
                    <p> Last order : {{ price.lastTime }} </p>
                  </div>
                </ng-template>
                <!--
                <p-tag *ngIf="price.city === 'Caerleon'" [style]="{'background': 'red'}" pTooltip="{{ price.city }}" tooltipPosition="bottom">
                  {{ price.sell_price_min }}
                </p-tag>
                <p-tag *ngIf="price.city === 'Black Market'" [style]="{'background': 'black'}">
                  {{ price.city }} {{ price.sell_price_min }}
                </p-tag>
                <p-tag *ngIf="price.city === 'Highland Cross'" [style]="{'background': '#088F8F'}">
                  {{ price.city }} {{ price.sell_price_min }}
                </p-tag>
                <p-tag *ngIf="price.city === 'Arthurs Rest'" [style]="{'background': 'grey'}">
                  {{ price.city }} {{ price.sell_price_min }}
                </p-tag>
                <p-tag *ngIf="price.city === 'Merlyns Rest'" [style]="{'background': 'grey'}">
                  {{ price.city }} {{ price.sell_price_min }}
                </p-tag>
                <p-tag *ngIf="price.city === '5003'" [style]="{'background': 'lightyellow'}">
                  <p class="text-black">Brecilien Market {{ price.sell_price_min }}</p>
                </p-tag>
                <p-tag *ngIf="price.city === '1001' || price.city === '1000'" [style]="{'background': 'purple'}">
                  {{ price.city }} {{ price.sell_price_min }}
                </p-tag>
                -->
              </ng-container>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
