.tier8{
    background-color: #D0D0D0;
}

.tier7{
    background-color: #D1B044;
}

.tier6{
    background-color: #C06B2A;
}

.tier5{
    background-color: #77221A;
}

.tier4{
    background-color: #355F78;
}

.tier3{
    background-color: #3F5131;
}

.tier2{
    background-color: #635349;
}

.tier1{
    background-color: #353535;
}