<div class="container-fluid">
    <select class="form-select" [(ngModel)]="selectedResource">
        <option ngValue="wood" selected>Wood</option>
        <option ngValue="rock">Rock</option>
        <option ngValue="hide">Hide</option>
        <option ngValue="ore">Ore</option>
        <option ngValue="fiber">Fiber</option>
    </select>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" class="test">Tier</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of this.resourceLists[selectedResource]; let i = index">
                <ng-container *ngIf="item === '' else loading"></ng-container>
                <ng-template #loading>
                    <th scope="row" [ngClass]="{'tier1': i === 0,'tier2': i === 1,'tier3': i === 2,'tier4': i === 3,'tier5': i === 4, 'tier6': i === 5, 'tier7': i === 6, 'tier8': i === 7}">{{i + 1}}</th>
                    <td>
                        <img [src]="'https://render.albiononline.com/v1/item/T' + (i + 1) + '_' + selectedResource.toUpperCase()"
                            class="img-thumbnail" [alt]="item" width="68" height="68">
                    </td>
                    <td>{{item}}</td>
                    <td>
                        <span *ngFor="let price of this.pricesList[i]"
                            class="badge rounded-pill text-bg-primary">{{price.city}}
                            {{price.sell_price_min}}</span>
                    </td>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>


<button (click)="this.prices(selectedResource)" type="button" class="btn btn-primary">Prices</button>